
  .header {
    background: #254864;
    color: white;
    width: 100vw;
    padding: 18px 0;
  }
  
  .title {
    margin: 0;
  }
  
  .subtitle {
    max-width: 576px;
    margin: 36px auto;
    letter-spacing: 0.1em;
    line-height: 1.3em;
  }
  
  .countdown-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 -8px 0 -8px;
  }
  
  .time-section {
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #254864 !important;
  }
  
  .time {
    margin: 0;
    font-size: 60px !important;
    font-weight: 800 !important;
  }
  
  .small {
    font-size: 18px !important;
  }